.noPadding {
    padding-left: 0;
    padding-right: 0;
}

.noMargin {
    margin-left: 0;
    margin-right: 0;
}

.navbarRow
{
    background-color: #74b9ff;
}

.stickyNav {
    z-index: 100;
    position: sticky;
    top: 0;
}

div.bm-burger-button
{
    top: 16px;
}

#logout
{
    left: 45%;
}

.menuLink:first-child
{
    padding-top: 40px;
}
.menuLink
{
    margin-left: 20px;
    margin-bottom: 20px;
}

.menuLink > span{
    font-size: 1.5em;
}